/* 
    Document   : reporte
    Created on : Sep 26, 2011, 10:13:48 AM
    Author     : aortuno
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background-color: #666 !important;
}

.container h2{
    color:#FFF;
}

#barraReporte{
    width:100%;
    float:left;
    position:relative;
    clear:both;
    height:25px;
    display: block;
    margin:20px 0px;
}

#barraReporte ul{
    list-style-type: none;
    float:right;
    margin:0px 5px;
    padding: 0px;
}

#barraReporte ul li{
    float:left;
    padding:2px 5px;
    color:#292929;
    cursor: pointer;
    font-weight: bold;
}

#barraReporte ul li img{
    margin:3px;
}

#barraReporte ul li span{
    display:block;
    float:right;
    margin:3px 5px 0px 5px;
}

#barraReporte ul li:hover{
    color:#3F4C6F;
}

#cuerpoReporte{
    width:98%;
    margin:8px;
    float:left;
    background-color: #FFF;
    border:1px solid #333;
    height:auto !important;
    position:relative;
    display: block;

}

#cuerpoReporte .titulo{
    background-color: transparent;
    border: 0px;
    color:#000;
    float:left;
    position:relative;
    margin:10px 0px 0px 10px;
    font-size: 16px;
    font-weight: bold;
}

#cuerpoReporte .datosReporte{
    float:right;
    position:relative;
    margin:10px 10px 0px 0px;
    font-size: 12px;
}

#cuerpoReporte .cuerpo{
    border-top:1px solid #333;
    margin-top: 15px;
    float:left;
    position: relative;
    clear:both;
    display: block;
    min-height: 20px;
    width: 100%;
    font-size: 13px;
}

#cuerpoReporte .cuerpo table{
    table-layout: auto;
    border:1px solid #000;
    margin:1%;
    width:98%;
}

#cuerpoReporte .cuerpo table tr.cabecera{
    background-color: #AAA;
    height:25px;
    text-align:center;
    font-size:14px;
}

#cuerpoReporte .cuerpo table tr.blanco{
    background-color:#FFF;
}

#cuerpoReporte .cuerpo table tr.gris{
    background-color:#DDD;
}

#cuerpoReporte .cuerpo table tr td{
    border-top:1px solid #000;
    border-left:1px solid #888;
}

#cuerpoReporte .pieReporte{
    text-align: center;
    position: relative;
    float: left;
    display: block;
    clear: both;
    width: 100%;
    margin:5px 0px;
    font-size: 8px;
}